
body ul{
    list-style: none;
}
/* ========== SLIDER PART START ======  */
.slider_inner {
    padding-bottom: 271px;
}
/* ========== SLIDER PART START ======  */

/*<!-- ======== BLOCKQUOTE PART START ==========  --> */
.blockquote_bg {
    margin-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #E3E3E4;
}
.blockquote p {
    font-size: 16px;
}
.blockquote_left{
    width: 350px;
    border: 1px solid #d9d1d1;
    text-align: center;
}
.blockquote_left img{
    max-width: 347px;
    padding: 2px;
   
}
/* <!-- ======== BLOCKQUOTE PART END ==========  --> */

 /* ======== TABIL & FORM PART START ========== */
 .table_and_form_bg {
    background: #F8F9FA;
    margin-top: 10px;
    padding-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 50px;
}
 .tabil_heading h4 {
    color: #198754;
    margin-bottom: 15px;
}
.model_part {
    margin-top: 30px;
}
.file {
    border: 1px solid #ddd;
    width: 100%;
    padding: 3px;
}
.seclet {
    width: 100%;
    padding: 5px;
}
.botton {
    padding: 5px 30px;
    font-size: 13px;
}
 /* ======== TABIL & FORM PART END ========== */

 /* ======== CARD AND PROGRESS BAR START ======== */
 .Card_and_progress{
    border-top: 1px solid #E3E3E4;
    padding-top: 50px;
    margin-bottom: 20px;
 }
 .card-header{
     background: #F7F7F7;
     font-weight: 600;
 }
 .card-title {
    font-weight: 600;
    padding: 0px 4px;
}
.bottonA{
    width: 100px;
    font-size: 13px;
    margin-top: 15px;
}
.card-footer{
    background: #F7F7F7;
    font-weight: 600;
}
.card_last_part{}
.card-img img{
    max-width: 100%;
}
/* ======== CARD AND PROGRESS BAR END ======== */

/* ======== STRETCHED LINK START ========   */
.stretched_bg{
    border-top: 1px solid #E3E3E4;
    padding-top: 50px;
}
/* ======== STRETCHED LINK START ========   */